* {
  color: #333333;
  font-family: Arial, "新細明體", sans-serif;
  padding: 0;
  margin: 0;
  /* letter-spacing: 1px; */
}

html {
/*
  margin: 0 auto;
  max-width: 800px;
*/
}

body {
  margin: 40px 0px;
/*
  margin: 0;
  padding: 0;
*/
}

header {
  position: fixed;
  width: 100%;
  background-color: #333333;
  top: 0px;
  padding: 6px;
  z-index: 1;
}

header *, header a {
  color: #dddddd;
}

article {
  margin: 0 auto;
  padding: 10px;
  max-width: 900px;
}

footer * {
  text-align: center;
  font-size: small;
  margin-top: 50px;
}

aside {
  margin: 0;
  padding: 32px 0px;
  position: fixed;
  left: 0;
  top: 40px;
  height: 100%;
  /*width: 250px;*/
  width: 0;
  background-color: #333333;
  white-space: nowrap;
  overflow: hidden; /* 超出範圍截掉，否則子 區塊還是會顯示出來 */
  transition: width 0.6s;
}

aside div {
  margin: 20px 10px;
}

aside *, aside a {
  color: #bbbbbb;
}

aside a {
  text-decoration: none;
}

ul {
  margin: 5px 20px;
}

ol {
  margin: 20px;
}

li {
}

aside li {
  list-style-type: none;
}

.toggle {
  font-size: 28px;
}

/* -------------------------- paper -------------------------------*/
.header {
  text-align: center;
  margin: auto;
  max-width: 85%;
}

.abstract {
  margin: 30px;
  text-align: left;
}

.abstract h2 {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  margin: 15px 0px;
  font-family: "Times New Roman", 標楷體;
  /* padding: 5px, 10px; */
}

h1 { font-size: 180%; text-align: center; margin:20px 0px 30px 0px; }

h2 { font-size: 160%; color: black; margin:20px 0px 25px 0px; /* text-align: center; */ }

h3 { font-size: 140%; color: #555555;  margin:25px 0px 20px 0px; }

h4 { font-size: 120%; }

h5 { font-size: 110%; }

h6 { font-size: 100%; }

header span {
  display: inline-block;
  margin: 20px;
}

table {
  border-top: 1px solid #111111;
  border-bottom: 1px solid #111111;
  margin: 20px auto;
}

table th {
  border-bottom: 1px solid #111111;
}

table th, table td {
  padding: 5px 10px;
}

p, li, pre, code {
  line-height: 200%;
}

p {
  min-height: 1em;
}

figure {
  margin: 30px 10px;
}

figcaption {
  color: #777777;
  padding: 3px;
  text-align: center;
}

img {
  margin: auto;
  display: block;
  max-width: 100%;
}

pre, blockquote {
  margin: 20px 3px;
  padding: 15px;
  text-align: left;
  line-height: 160%;
  text-decoration: none;
  border-radius: 5px;
}

pre.code {
  border: 1px solid #888888;
}

pre.tab {
  background-color: #cceeff;
}

blockquote {
  background-color: #f6f6f6;
}

.display {
}

pre {
  overflow: auto; /* 讓超出範圍時有卷軸 */
}

pre>code {

}

a {
  color: #3366bb;
  text-decoration: none;
}

/* ----------------------- responsive ---------------*/
@media only screen and (max-width: 800px) {
  aside {
    /* width: 0px; */
  }
}

/* Printer Only: 參考 : https://www.w3.org/TR/CSS21/page.html */
.printOnly {
  display: none;
}

@media print {
  .pagebreak {
    page-break-before: always;
  }

  table, figure {
    page-break-inside: avoid;
  }

  h1, h2, h3, h4, h5 {
    page-break-after: avoid;
  }

  .noPrint, header, aside, footer {
    display: none;
  }

  .printOnly {
    display: block;
  }

}

/* 參考 : https://www.w3.org/TR/CSS21/page.html */

  /* 參考 -- https://www.w3.org/TR/css-page-3/
  這個目前沒效 因為是 CSS-page-3 ，該標準 chrome 尚未支援
  @page {
    margin: 5cm;
    content: "Page " counter(page) " of " counter(pages);
  }


  @bottom-left {
    content: counter(page) "/" counter(pages);
  }
  */
 /* 接下來的部分請參考 https://medium.com/unalai/%E5%8E%9F%E4%BE%86%E5%89%8D%E7%AB%AF%E7%B6%B2%E9%A0%81%E5%88%97%E5%8D%B0-%E4%B8%8D%E6%98%AF%E5%8F%AA%E8%A6%81-window-print-%E5%B0%B1%E5%A5%BD%E4%BA%86-7af44cacf43e */
/*
 * {
    -webkit-print-color-adjust: exact !important;
  }

  .printFooter {
    position:absolute; 
    bottom:0; 
    width:100%; 
    height:40px;
  }
*/

/*
figure, .subfigures {
  text-align: center;
}
*/

